.CtaButton {
}

.CtaButtonText {

}

.__small {
    height: 44px;
    margin-top: 8px; /* single occurance (in Home page header) */

    &:before {
        width: 20px;
        height: 20px;
        margin-right: 8px;
    }
}

.__fullwidth {
    width: 100%;
    justify-content: center;
}
