:root {
    --color-white: #FFFFFF;
    --color-black: #101828;
    --color-icon-black: #344054;
    --color-gray-light: #D0D5DD;
    --color-gray-dark: #475467;
    --color-green: #087443;
    --color-green-light: #EDFCF2;
    --color-red-error-text: #F04438;
    --color-red-error-border: #FDA29B;
    --color-green-ok-border: #73E2A3;
}
