:root {
    --html-header-height: 3rem;

    @media (max-width: 768px) {
        --html-header-height: auto;
    }
}
body {
    overflow-x: hidden;
    margin: 0 auto;
    padding-top: 32px;
    padding-bottom: 120px;
    scrollbar-gutter: stable;
    transition: all 0.3s ease-out;

    max-width: 1120px;
    @media (max-width: 1183px) {
        padding-left: 32px;
        padding-right: 32px;
    }
}

* {
    padding: 0;
    margin: 0;
}

.html_page-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-height: 100dvh;
    overflow-x: hidden;
}

.html_page-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#page-header {
    width: 100%;
    height: var(--html-header-height);
    overflow: hidden;
    margin-bottom: 32px;
}

.html_header-logo {
    display: block;
    width: auto;
    height: auto;
    max-height: var(--html-logo-height);
    max-width: 100%;
}

#header-portal {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 0 auto;
    max-width: calc((100% - var(--html-logo-width)) / 2);

    @media screen and (max-width: 768px) {
        width: 100%;
        max-width: initial;
    }

    &:has([class*="__empty"]) {
        margin: 0 auto 0 24px;
    }
}

#root {

}
