:root {
    --color-black: #101828;
    --color-icon-black: #344054;
    --color-gray-light: #D0D5DD;
}

:root {
    --html-header-height: 3rem;

    @media (max-width: 768px) {
        --html-header-height: auto;
    }
}

@font-face {
    font-family: 'Fixel Text Light';
    font-style: normal;
    font-weight: 400;
    src: url('https://github.com/MacPaw/Fixel/blob/main/fonts/ttf/FixelText-Light.ttf') format('truetype');
}

:root * {
    font-family: 'Fixel Text', sans-serif;
}

:root {
    --font-size: 16px;
    --font-color-gray: #667085;
}

.font-m {
    font-family: 'Fixel Text Light', sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0;
}
