.Portal {
    --portal-height: 40px;
    --button-size: var(--portal-height);
    --button-radius: 6px;
    --icon-size: 20px;
    --icons-stroke-color: var(--color-icon-black);

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 0 0 auto;
    min-height: var(--portal-height);
    width: 100%;
    justify-content: flex-end;

    @media (max-width: 768px) {
        width: 100%;
    }
}

.Button {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--button-size);
    height: var(--button-size);
    border-radius: var(--button-radius);
    border: 1px solid var(--color-gray-light);
    background-color: transparent;

    &:first-child {
        margin-right: auto;
    }
}

.Portal:not(:has([class*="__empty"])) .Button:first-child {
    display: none;
}

.Icon {
    display: block;
    width: var(--icon-size);
    height: var(--icon-size);
    stroke: var(--color-black);
}

.FullIcon {
    display: block;
    width: 28px;
    height: 28px;
    margin-left: 16px;
}

@media (max-width: 412px) {
    [class*="CounterContainer"],
    [class*="CounterDots"],
    .Button {
        margin-top: 1rem;
    }
}
