.Portal {
    --portal-height: 40px;
    --button-size: var(--portal-height);
    --button-radius: 6px;
    --icon-size: 20px;
    --icons-stroke-color: var(--color-icon-black);
    --counter-dot-size: 8px;
    --counter-dot-gap: 4px;
    --counter-dot-radius: 50%;
    --counter-dot-color: var(--color-black);

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 0 0 auto;
    min-height: var(--portal-height);
    justify-content: flex-end;

    @media (max-width: 768px) {
        width: 100%;
    }
}

.CounterContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    &.__empty {
        & {
            display: none;
        }
    }
}

.CounterDots {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 1rem;
    margin-right: 1.5rem;
    gap: var(--counter-dot-gap);
}

.CounterDot {
    display: block;
    width: var(--counter-dot-size);
    height: var(--counter-dot-size);
    border-radius: var(--counter-dot-radius);
    background-color: var(--counter-dot-color);
    opacity: .24;
}

.CounterDotActive {
    opacity: 1;
}

.CounterText {
    display: inline-block;
    color: var(--font-color-gray);
    margin: 0;
    text-align: center;
}

.Button {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--button-size);
    height: var(--button-size);
    border-radius: var(--button-radius);
    border: 1px solid var(--color-gray-light);
    background-color: transparent;
}

.Icon {
    display: block;
    width: var(--icon-size);
    height: var(--icon-size);
    stroke: var(--color-black);
}

.FullIcon {
    display: block;
    width: 28px;
    height: 28px;
    margin-left: 16px;
}

@media (max-width: 412px) {
    .CounterContainer,
    .CounterDots,
    .Button {
        margin-top: 1rem;
    }
}
