.Home {
}

.Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 76px;
    margin-bottom: 24px;
}

.Title {
    @media (max-width: 380px) {
        font-size: 32px;
        line-height: 1.2;
        text-align: left;
    }

}
