.Form {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
}

.Field {
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.Field:nth-child(1), .Field:nth-child(2) {
    width: 50%;
    @media (max-width: 568px) {
        & {
            width: 100%;
        }
    }
}

.Label {

}

.Control {

}

.Control.Input {

}

.Control.Textarea {

}


